<div class="container boxes box-container">
	<div class="row">
		<h2>Interested in becoming part of the RPGBOSS community?</h2>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="box">
				<h1>Want the source code?</h1>
				<div class="row">
					<div class="col-xs-6 image">
						<img src="images/sourecode.png" alt=""/>
					</div>
					<div class="col-xs-6 text">
						<a target="_blank" href="https://github.com/rpgboss/rpgboss">Get it now!</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="box">
				<h1>Found an error?</h1>

				<div class="row">
					<div class="col-xs-6 image">
						<img src="images/bug.png" alt=""/>
					</div>
					<div class="col-xs-6 text">
						<a target="_blank" href="https://github.com/rpgboss/rpgboss/issues">Message us!</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="box">
				<h1>Want to tell something?</h1>

				<div class="row">
					<div class="col-xs-6 image">
						<img src="images/forum.png" alt=""/>
					</div>
					<div class="col-xs-6 text">
						<a target="_blank" href="http://rpgboss.forumatic.com/">To the forum!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

