<div class="container">
	<h1>Features</h1>
	<div class="line uppersmall"></div>

	{% include feature.html headline="Click your Dreams" imagesrc="screen2.jpg" text="Building your world with simple<br>comands through a intuitive Menu.<br><br><strong>No Coding required!</strong>" position="left"	%}

	<div class="line"></div>

	{% include feature.html headline="Set up your Characters, Enemies and Animations" imagesrc="screen3.jpg" text="With an integrated Database perfectly made for rpg games its even more easier to build rapidly your game." position="right" %}
</div>