<div class="header">
  <div class="backgroundimage">
    <div class="layer"></div>
    <div class="layer2">
      <div class="container">
        <div class="col-md-3">
          &nbsp;
        </div>
        <div class="col-md-9">
          <ul>
            <li><a href="https://github.com/rpgboss/rpgboss">Get the Source</a></li>
            <li><a href="https://github.com/rpgboss/rpgboss/issues">BugTracker</a></li>
            <li><a href="http://rpgboss.forumatic.com/">Community Forum</a></li>
            <li><a href="http://assets.rpgboss.com/">Assets &amp; Games</a></li>
            <li><a href="https://github.com/rpgboss/rpgboss/wiki">Tutorials</a></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="col-md-4 logo-big">
            <img src="/images/logo2.png" alt="">
        </div>
        <div class="col-md-8 description-big">
          <h1>rpgboss</h1>
          <h4>Make your own RPG!</h4>
          <ul>
            <li>Requires no Coding</li>
            <li>Side View Battle System</li>
            <li>Work on your game on Windows, OSX and Linux</li>
            <li>Export your game for Windows, OSX and Linux</li>
          </ul>
          <div class="row">
            <div class="col-md-6">
              <a href="https://github.com/rpgboss/rpgboss/releases" class="button full gray">Download</a>
            </div>
            <div class="col-md-6">
              <a href="https://github.com/rpgboss/rpgboss/wiki" class="button full gray">Getting Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>