<div class="header">
  <div class="container">
      <div class="col-xs-12 navigation">
        <a href="#why">Why RPBOSS?</a>
        <a href="#features">Features</a>
        <a href="#getintouch">Get in touch</a>
        <a href="http://rpgboss.forumatic.com/">Community Forum</a>
        <a href="http://assets.rpgboss.com/">Assets &amp; Games</a>
        <a href="https://github.com/rpgboss/rpgboss/wiki">Tutorials</a>
      </div>
      <div class="col-xs-12 mobilenavigation hide">
          <img src="images/menu.png" alt=""/>
      </div>
      <div class="col-xs-12 center logo">
        <img src="images/logo.png" alt=""/>
        
      </div>
      <div class="col-xs-12 center bigimage">
        <img src="images/bigimage.png" alt=""/>
      </div>
      <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6 buttonright">
              <a href="https://github.com/rpgboss/rpgboss/releases" class="button gray">Download</a>
            </div>
            <div class="col-xs-6 buttonleft">
              <a href="https://github.com/rpgboss/rpgboss/wiki" class="button gray">Getting Started</a>
            </div>
          </div>
      </div>
      <div class="col-xs-12 center learnmore">
        <a href="#why">Learn more <br/><img src="images/arrow.png" alt=""/></a>
      </div>
  </div>
</div>