<div class="slider">
  <div class="container">
	<ul class="bxslider">
	  <li>
	  	<div class="row">
		  	<div class="col-md-6 slider-text">
		  		<h1>Make your own RPG!</h1>
		  		<ul>
		  			<li>Requires no Coding</li>
		  			<li>Side View Battle System</li>
		  			<li>Work on your game on Windows, OSX and Linux</li>
		  			<li>Export it for Windows, OSX and Linux</li>
		  		</ul>
		  	</div>
		  	<div class="col-md-6 slider-image">
		  		<img src="/images/screen.png" />
		  	</div>
	  	</div>
	  </li>
	  <li>
	  	<div class="row">	
	  		<div class="col-md-6 slider-text">
		  		<h1>New Content!</h1>
		  		<ul>
		  			<li>Requires no Coding</li>
		  			<li>Side View Battle System</li>
		  			<li>Work on your game on Windows, OSX and Linux</li>
		  			<li>Export it for Windows, OSX and Linux</li>
		  		</ul>
		  	</div>
		  	<div class="col-md-6 slider-image">
		  		<img src="/images/screen3.jpg" />
		  	</div>
	  	</div>
	  </li>
	</ul>
  </div>
</div>
<script>
	$('.bxslider').bxSlider({
		auto: true
	});
</script>