.formular {
  .text {
    font-size: 18px;
  }

  .social {
    .icon {
      vertical-align: middle;
    }

    .orange {
      font-size: 18px;
      padding-top: 10px;
    }

    .icon a {
      color: $black;
      text-decoration: none;

    }
    
    .icon img {
      margin-right: 5px;
    }
  }

  .ng-touched.ng-valid {
    border-color: green;
  }

  .ng-touched.ng-invalid {
    border-color: darkred;
  }
}