@import "slider";
@import "header";
@import "box";
@import "button";
@import "feature";
@import "siteseperator";
@import "1-2-feature";
@import "feed";
@import "boxes";
@import "formular";
@import "stickyHeader";
@import "mobileMenu";
@import "media_1200";
@import "media_1100";
@import "media_600";

html, body
{
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.4;
}

.container {
    width: 1200px;
}

.line {
    border-bottom: 1px solid $lightgray;
    margin: 50px 0;
}

.line.uppersmall {
    margin-top: 20px;
}

h1 {
    color: $orange;
    font-size: 26px;
}

h2 {
    color: $black;
    font-size: 26px;
    text-align: center;
    margin: 100px 0;
}

.orange {
    color: $orange;
}

.footer {
    width: 100%;
    background-color: $gray;
    color: $white;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    margin-top: 90px;
}

.textbox {
    width: 100%;
    border: 1px solid $lightgray;
    padding: 10px;
    margin: 5px 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

input[type=submit].button {
    border: none;
    padding-left: 80px;
    padding-right: 80px;

    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.notice {
    background: $lightgray;
    padding: 10px;
    font-size: 18px;
}