.sticky {
  position: fixed;
  top:-20px;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  padding: 20px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  a {
    color: $orange !important;
  }
}