--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.jumbotron
  .row
    .col-md-4
      h1 rpgboss
      p Make your own RPG.
      ul
        li No coding required
        li Side view battle system
        li Multi platform
      p Version v#{site.binaryversion}
      p: a.btn.btn-primary(href="https://github.com/tommycli/rpgboss/releases/tag/" + site.binaryversion) Download
    .col-md-8
      p <iframe width="640" height="380" src="//www.youtube.com/embed/XXlUY7t-deA?rel=0&showinfo=0&modestbranding=1&start=22" frameborder="0" allowfullscreen=""></iframe>

// Example row of columns.
.row
  .col-md-6
    h2 Open-source
    p rpgboss is open source and welcomes contributions: art, music, sound effects, code, documentation, or anything else that would be useful.
    p: a.btn.btn-default(href="https://github.com/tommycli/rpgboss") Source on Github
    p
      img(class='img-responsive' src='/images/rpgboss-editor.jpg')
  .col-md-6
    p
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/RpgbossEditor" data-widget-id="481467221017755648">Tweets by @RpgbossEditor</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
